body {
  background: CornflowerBlue;
}
img {
  padding: 15px;
  border-radius: 30px;
}

#Coldplay, #Ed {
  zoom: 70%;
}

#Shawn, #Hamilton {
  zoom: 10%;
}

main {
  display: flex;
  flex-wrap: wrap;
}
