body {
  color: black;
  background: #ccddff;
  font-size: 16px;
  font-family: 'Georgia', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color:#b3b3ff;
}

a.skip{
  background: #ccddff;
  color: #002266;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  color: #ccddff;
  background: #002266;
}

.nav_tabs {
  list-style-type: none;
}

footer {
  text-align: center;
  color: #ccddff;
  background: #002266;
  padding: 8px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

img {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 25px;
}

#portrait {
  margin: 0 auto;
  zoom: 90%;
  padding: 15px;
  grid-row: 1 / auto;
  grid-column: 2 / auto;
}

#text {
  grid-row: 2 / auto;
  grid-column: 2 / auto;
  text-align: center;
}

@media screen and (min-width: 800px){

  li {
    float: left;
    padding: 10px;
    padding-top: 0;
  }

}

@media screen and (min-width: 850px){

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  footer {
    text-align: left;
  }
}
