body {
  color: black;
  background: #ccddff;
  font-size: 16px;
  font-family: 'Georgia', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color:#b3b3ff;
}

h1 {
  font-family: Zapfino;
}

h2 {
  font-family: Baskerville;
  text-align: center;
  font-weight: normal;
  font-size: 35px;
  animation-name: enter;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

a.skip{
  background: #ccddff;
  color: #002266;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  color: #ccddff;
  background: #002266;
}

.nav_tabs {
  list-style-type: none;
  display: inline;
  text-align: center;
}

footer {
  text-align: center;
  color: #ccddff;
  background: #002266;
  padding: 8px;
}

li {
  text-align: center;
}

p {
  text-align: center;
  font-family: Baskerville;
}

.homeContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 15px;
}

img {
  padding: 5px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#portrait {
  zoom: 90%;
  padding: 15px;
  grid-row: 1 / auto;
  grid-column: 2 / auto;
  /* animation-name: logo_wiggle;
  animation-duration: 3s;
  animation-iteration-count: 1; */
  margin: 0 auto;
}


@-webkit-keyframes logo_wiggle{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo_wiggle{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes enter{
  from {
    margin-left: -100%;
    font-size: 1px;
  }
  to {
    margin-left: 0%;
    font-size: 35px;
  }
}

@keyframes enter{
  from {
    margin-left: -100%;
    font-size: 1px;
  }
  to {
    margin-left: 0%;
    font-size: 35px;
  }
}


#intro {
  grid-row: 2 / auto;
  grid-column: 2 / auto;
  text-align: center;
}

.body {
  background-color: #ffcc00;
  border: 3px solid black;
  color: #002266;
  border-radius: 20px;
  margin: auto;
  padding: 30px;
}

.famContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 15px;
  padding-bottom: 5px;
}

.familyDiv {
  grid-row: 1 / auto;
  grid-column: 2 / auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#family {
  width: 100%;
}

.brotherDiv {
  grid-row: 3 / auto;
  grid-column: 2 / auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#brother {
  width: 100%;
}

#me {
  grid-row: 2 / auto;
  grid-column: 2 / auto;
}

#fam {
  grid-row: 4 / auto;
  grid-column: 2 / auto;
}

.travContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #ffcc00;
  color: #002266;
  transform: rotateY(180deg);
}

.gallery {
  width: 100%;
  height: 100%;
  padding: unset;
  margin: unset;
  border: unset;
  border-radius: unset;
  display: unset;
  justify-content: unset;
  align-items: unset;
}

#travIntro {
  font-size: 20px;
}

.location {
  color: #001133;
  font-size: 20px;
  font-weight: bold;
}

fieldset{
   border-radius: 10px;
   margin: 15px;
   font-family: Baskerville;
}
legend{
   text-align: center;
   font-family: Zapfino;

}
fieldset div{
   border: 2px solid black;
   margin: 2%;
   padding: 1%;
   border-radius: 5px;
}



.contact{
   display: grid;
   grid-template-columns: auto 1fr;
   grid-row-gap: 5px;
}

input[type=reset], input[type=submit]{
   border: 1px solid black;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

input, textarea, select{
   background-color:#FFFFFF;
}

input:focus, select:focus, textarea:focus{
  border: 2px solid black;
  color: #002266;
  background: #ffcc00;
}

.contactP {
  background-color: #ffcc00;
  border: 3px solid black;
  color: #002266;
  border-radius: 20px;
  margin: auto;
  padding: 15px;
  text-align: center;
}

.contactContainer {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.alcazarDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.britishDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}



@media screen and (min-width: 800px){

  li {
    float: left;
    padding: 10px;
    padding-top: 0;
  }

  .famContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr;
  }

  .familyDiv {
    grid-row: 2 / auto;
    grid-column: 2 / auto;
  }

  .brotherDiv {
    grid-row: 4 / auto;
    grid-column: 4 / auto;
  }


  #me {
    grid-row: 4 / auto;
    grid-column: 2 / auto;
  }

  #fam {
    grid-row: 2 / auto;
    grid-column: 4 / auto;
  }

  .contactContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
  }

  #unsure {
    grid-row: 1 / auto;
    grid-column: 1 / auto;
  }

  .alcazarDiv {
    grid-row: 1 / auto;
    grid-column: 2 / auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #conclusion {
    grid-row: 2 / auto;
    grid-column: 2 / auto;
  }

  .britishDiv {
    grid-row: 2 / auto;
    grid-column: 1 / auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #sentence {
    display: none;
  }

  form {
    grid-row: 3 / auto;
    grid-column: 1 / span 2;
  }




}

@media screen and (min-width: 850px){

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  footer {
    text-align: left;
  }

  .contactContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 15px;
  }

  #unsure {
    grid-row: 1 / auto;
    grid-column: 1 / auto;
  }

  .alcazarDiv {
    grid-row: 1 / auto;
    grid-column: 2 / auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #conclusion {
    grid-row: 1 / auto;
    grid-column: 4 / auto;
  }

  .britishDiv {
    grid-row: 1 / auto;
    grid-column: 3 / auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #sentence {
    display: none;
  }

  form {
    grid-row: 2 / auto;
    grid-column: 1 / span 4;
  }

  .contactP {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
