body {
  color: black;
  background: #ccddff;
  font-size: 16px;
  font-family: 'Georgia', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color:#b3b3ff;
}

a.skip{
  background: #ccddff;
  color: #002266;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  color: #ccddff;
  background: #002266;
}

h1 {
  font-family: Zapfino;
}

.nav_tabs {
  list-style-type: none;
}

footer {
  text-align: center;
  color: #ccddff;
  background: #002266;
  padding: 8px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}



.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #ffcc00;
  color: #002266;
  transform: rotateY(180deg);
}

img {
  width: 100%;
  height: 100%;
}

#intro {
  font-size: 15px;
}

p {
  text-align: center;
  font-family: Baskerville;
  margin: 15px;
}

#intro {
  font-size: 20px;
}

.location {
  color: #001133;
  font-size: 20px;
  font-weight: bold;
}



@media screen and (min-width: 800px){

  li {
    float: left;
    padding: 10px;
    padding-top: 0;
  }

}

@media screen and (min-width: 850px){

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  footer {
    text-align: left;
  }
}
